<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="jabberServer" type="ASC.Xmpp.Server.Configuration.JabberConfigurationSection, ASC.Xmpp.Server" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="autofac" type="ASC.Common.DependencyInjection.AutofacConfigurationSection, ASC.Common" />
  </configSections>
  <connectionStrings>
    <clear />
    <add name="default" connectionString="Server=localhost;Database=test;User ID=root;Password=root;Pooling=true;Character Set=utf8;AutoEnlist=false;SSL Mode=none;AllowPublicKeyRetrieval=true;Connection Timeout=30;Maximum Pool Size=300;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <clear />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="version.number" value="11.0.0" />
    <add key="jabber.from-teamlab-to-onlyoffice" value="false" />
    <add key="core.base-domain" value="" />
    <add key="core.machinekey" value="1123askdasjklasbnd" />
  </appSettings>
  <jabberServer>
    <listeners>
      <add name="Jabber Listener" type="ASC.Xmpp.Server.Gateway.TcpXmppListener">
        <property name="maxpacket" value="1048576" />
        <property name="bindPort" value="5222" />
        <property name="startTls" value="none" />
      </add>
      <add name="Bosh Listener" type="ASC.Xmpp.Server.Gateway.BoshXmppListener">
        <property name="maxpacket" value="1048576" />
        <property name="bind" value="http://*:5280/http-poll/" />
      </add>
      <add name="SignalR Listener" type="ASC.Xmpp.Server.Gateway.SignalRXmppListener, ASC.Xmpp.Server" />
    </listeners>

    <storages>
      <add name="roster" type="ASC.Xmpp.Host.ASCRosterStore, ASC.Xmpp.Host">
        <property name="connectionStringName" value="default" />
      </add>
      <add name="vcard" type="ASC.Xmpp.Host.ASCVCardStore, ASC.Xmpp.Host">
        <property name="connectionStringName" value="default" />
      </add>
      <add name="users" type="ASC.Xmpp.Host.ASCUserStore, ASC.Xmpp.Host" />

      <add name="offline" type="ASC.Xmpp.Server.Storage.DbOfflineStore">
        <property name="connectionStringName" value="default" />
      </add>
      <add name="private" type="ASC.Xmpp.Server.Storage.DbPrivateStore">
        <property name="connectionStringName" value="default" />
      </add>
      <add name="muc" type="ASC.Xmpp.Server.Storage.DbMucStore">
        <property name="connectionStringName" value="default" />
      </add>
      <add name="archive" type="ASC.Xmpp.Server.Storage.DbMessageArchive">
        <property name="connectionStringName" value="default" />
      </add>
      <add name="push" type="ASC.Xmpp.Server.Storage.DbPushStore">
        <property name="connectionStringName" value="default" />
      </add>
    </storages>

    <services>
      <add jid="" name="creator" type="ASC.Xmpp.Host.CreatorService, ASC.Xmpp.Host">
        <property name="" value="ASC.Xmpp.Server.Services.Jabber.JabberService, ASC.Xmpp.Server" />
        <property name="conference" value="ASC.Xmpp.Server.Services.Muc2.MucService, ASC.Xmpp.Server" />
        <property name="multicast" value="ASC.Xmpp.Server.Services.Multicast.MulticastService, ASC.Xmpp.Server" />
      </add>
    </services>
  </jabberServer>
  <nlog>
    <extensions>
      <add assembly="ASC.Common" />
    </extensions>
    <variable name="logDirectory" value="..\..\Logs\" />
    <variable name="svcName" value="Jabber" />
    <conversionPattern value="" />
    <targets async="true">
      <default-target-parameters type="SelfCleaning" archiveNumbering="DateAndSequence" archiveEvery="Day" archiveAboveSize="52428800" archiveDateFormat="MM-dd" keepFileOpen="true" enableArchiveFileCompression="true" layout="${date:format=yyyy-MM-dd HH\:mm\:ss,fff} ${level:uppercase=true} [${threadid}] ${logger} - ${message} ${exception:format=ToString}" />
      <target name="Console" type="Console" layout="${date:format=yyyy-MM-dd HH\:mm\:ss,fff} ${level:uppercase=true} [${threadid}] ${logger} - ${message}" />
      <target name="web" type="SelfCleaning" fileName="${logDirectory}svc${var:svcName}.log" />
      <target name="sql" type="SelfCleaning" fileName="${logDirectory}svc${var:svcName}.sql.log" layout="${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss,fff}|${threadid}|${event-properties:item=duration}|${message}|${event-properties:item=sql}|${event-properties:item=sqlParams}" />
    </targets>

    <rules>
      <logger name="ASC.SQL" minlevel="Debug" writeTo="sql" final="true" />
      <logger name="ASC*" minlevel="Debug" writeTo="web,Console" />
    </rules>
  </nlog>

  <system.serviceModel>
    <services>
      <service name="ASC.Xmpp.Host.JabberService" behaviorConfiguration="jabber">
        <endpoint address="net.tcp://0:9865/teamlabJabber" binding="netTcpBinding" contract="ASC.Core.Notify.Jabber.IJabberService" bindingConfiguration="jabber" />
      </service>
    </services>

    <bindings>
      <netTcpBinding>
        <binding name="jabber" maxReceivedMessageSize="1000000" maxBufferSize="1000000" maxBufferPoolSize="1000000" maxConnections="1000000" portSharingEnabled="false" transactionFlow="false" listenBacklog="1000000">
          <security mode="None">
            <message clientCredentialType="None" />
            <transport protectionLevel="None" clientCredentialType="None" />
          </security>
          <reliableSession enabled="false" />
          <readerQuotas maxStringContentLength="1000000" maxArrayLength="1000000" />
        </binding>
      </netTcpBinding>
    </bindings>

    <client>
      <endpoint address="net.tcp://localhost:9865/teamlabJabber" binding="netTcpBinding" contract="ASC.Core.Notify.Jabber.IJabberService" bindingConfiguration="jabber" />
    </client>

    <behaviors>
      <serviceBehaviors>
        <behavior name="default">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="jabber">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="500" maxConcurrentSessions="200" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <autofac configSource="web.autofac.config" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
       <dependentAssembly>
          <assemblyIdentity name="StackExchange.Redis.Extensions.Core" culture="neutral" publicKeyToken="d7d863643bcd13ef" />
          <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>