<?xml version="1.0" encoding="utf-8" ?>
<consumers>
  <components>
    <component
       type="ASC.Web.Core.Jabber.FireBase, ASC.Web.Core"
       name="Firebase"
       order="12">
      <props>
        <item key="firebase_apiKey" value="AIzaSyDKvQdHbLrswVLgukPslhrLKLCVCz48Nlk"/>
        <item key="firebase_projectId" value="teamlab-info-firebase"/>
        <item key="firebase_messagingSenderId" value="153634553312"/>
        <item key="firebase_authorization" value="AAAAI8VVPeA:APA91bHnD45HKszWqaFTCHunXPi0OlbduFM_JrjqZ5rUfN-lYrPUwjy5Esk8pNfu69IkTfEEXP5dOqIENVY-435SxF2lHWz-0jMr7-DTZ9aajJProd8BZA9b73rNpK5r8k98baL69scd"/>
      </props>
    </component>
  </components>
</consumers>