<?xml version="1.0" encoding="utf-8" ?>
<consumers>
  <components>
    <component
       type="ASC.Web.Core.Jabber.FireBase, ASC.Web.Core"
       name="Firebase"
       order="12">
      <props>
        <item key="firebase_apiKey" value="AIzaSyDKvQdHbLrswVLgukPslhrLKLCVCz48Nlk"/>
        <item key="firebase_projectId" value="teamlab-info-firebase"/>
        <item key="firebase_messagingSenderId" value="153634553312"/>
      </props>
    </component>
  </components>
</consumers>